# Database
DATABASE_URL="postgresql://postgres.pohsdbrerpkssglhsdfn:MTCWOlYXWgLYvN6p@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres"

# Supabase
SUPABASE_URL="https://pohsdbrerpkssglhsdfn.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBvaHNkYnJlcnBrc3NnbGhzZGZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ5MjMzODIsImV4cCI6MjA4MDQ5OTM4Mn0.i_YRxu4BoZ_B9hbF5UgEnn0Jp7H1geBe9cRQle8D1J0"
# Server
PORT=3001
NODE_ENV=development
